{% extends "layout.html" %}
{% block body %}
<script type=text/javascript src="{{
  url_for('static', filename='tiny_mce/tiny_mce.js') }}"></script>
  <script type="text/javascript" src="insertYourPath/tinymce/jscripts/tiny_mce/tiny_mce.js" ></script >
<script type="text/javascript" >
tinyMCE.init({
        mode : "textareas",
        theme : "simple"   //(n.b. no trailing comma, this will be critical as you experiment later)
});
</script >
  <script type=text/javascript>
  $(document).ready(function(){
    $("#sort").val("{{navigation.sort}}");
    $("#searchfield").val("{{navigation.search}}");
    {% if session.logged_in %}  
    $("#filter").val("{{navigation.filter}}");
    {% endif %}
  });
  </script>
  {% if session.logged_in %}

    <h2> Neuer Vorschlag </h2>
    <form action="{{ url_for('add_proposal') }}" method=post class=add-entry>
    <table>
    <tr> 
      <td>
      <dl>
        <dt>Title:
        <dd><input type=text size=47 name=title>
      </dl>
      </td>
      <td>
      <dl>
        <dt>Parlament(e):
        <dd><select name=parlament size=2 multiple>
              {% for parlament in g.i_eid|getParlaments %}
              <option> {{ parlament.title }}</option>
              {% endfor %}
            </select>
      </dl>
      </td> 
    </tr>
    </table>
      <dl>
        <dt>Text:
        <dd><textarea name=body rows=7 cols=50></textarea>
        <dd><input type=submit value=Speichern>
      </dl> 
    </form>
  {% endif %}
  <table> <tr align=bottom>
            <td width=400> <h2> Bisher erstellte Vorschl&auml;ge </h2> </td>
            <td>
              <table> <tr>
                  <td>
                    Sortierkriterien:
                  </td>
                  <td>
                        <select class="criteria" id="sort" name="sort" size="1">
                        <option value="upsdesc">Meisten Stimmen(Pro)</option>
                        <option value="upsasc">Wenigsten Stimmen(Pro)</option>
                        <option value="downsdesc">Meisten Stimmen(Contra)</option>
                        <option value="downsasc">Wenigsten Stimmen(Contra)</option>
                        <option value="oldest">Ältesten</option>
                        <option value="newest">Neuesten</0ption>                   
                      </select>
                  </td> 
              </tr>
              {% if session.logged_in %}      
              <tr>
              <td>
              Filter:
              </td>   
               <td>                   
                    <select class="criteria" id="filter" name="filter" size="1">
                    <option value="all">Alles</option>
                    <option value="ownprop">Eigene Vorschläge</option>
                    <option value="votedprop">Selbst Abgestimmt </option>                  
                  </select>
              </td>    
              </tr>
              {% endif %}
              <tr>
              <td>
              Suche:
              </td>   
               <td>                   
                  <input class="criteria" type=text size=17 name="searchfield" id="searchfield">
              </td>    
              </tr>              
              </table> 
            </td>     
            <!--<td> Sortierkriterien: 1. Stimmen NeusteZuerst 2. EigeneStimmen <br> 
                 Filterkriterien: 1. MeineVorschläge 2. MeineStimmen 3. Aktivste</td> </tr>-->
           </tr>
  </table>
  <script type=text/javascript>
  
  $('.criteria').change(function() {
    var params = { page:1, sort:$('#sort').val(), filter: $('#filter').val()};
     if($('#searchfield').val() !== ''){
        params["search"]=$('#searchfield').val()
    };
    
    var str = jQuery.param(params);
    window.location.href = $SCRIPT_ROOT + '/{{g.i_eid}}/proposals?'+str;
  });
  </script>
  {% for entry in entries %}
    {% if entry.username == session.username %} 
         <table  style="background-color: #DDDDEE;"> 
    {% else %} 
         <table> 
    {% endif %}
    <tr>
      <td id=voteline{{ entry.eid }} class=votes align=center width=50> 
      <script type=text/javascript>
      $(function() {
        $('#voteup{{ entry.eid }}').bind('click', function() {
          $("#loading{{ entry.eid }}").width($("#voteline{{ entry.eid }}").width())
          $("#loading{{ entry.eid }}").show()
          $.getJSON($SCRIPT_ROOT + '/_vote', {
            ieid: {{ g.i_eid }}, 
            eid: {{ entry.eid }}, 
            pro: 1
          }, function(data) {
            console.log(data)
            $("#countUp{{ entry.eid }}").text('+'+data.results[0]['ups']);
            $("#countDown{{ entry.eid }}").text('-'+data.results[0]['downs']);
            if(data.results[0]['voted']==1)
            {
              $("#voteup{{ entry.eid }}").attr("src", "/static/arrows_up_active.png");
            }
            $("#votedown{{ entry.eid }}").attr("src", "/static/arrows_down_inactive.png");
          }).complete(function() { $("#loading{{ entry.eid }}").hide() });
          return false;
         });});

      $(function() {
        $('#votedown{{ entry.eid }}').bind('click', function() {
          $("#loading{{ entry.eid }}").width($("#voteline{{ entry.eid }}").width())
          $("#loading{{ entry.eid }}").show()
          $.getJSON($SCRIPT_ROOT + '/_vote', {
            ieid: {{ g.i_eid }}, 
            eid: {{ entry.eid }}, 
            pro: 0
          }, function(data) {
            console.log(data)
            $("#countUp{{ entry.eid }}").text('+'+data.results[0]['ups']);
            $("#countDown{{ entry.eid }}").text('-'+data.results[0]['downs']);
            if(data.results[0]['voted']==1)
            {
              $("#votedown{{ entry.eid }}").attr("src", "/static/arrows_down_active.png");
            }
            $("#voteup{{ entry.eid }}").attr("src", "/static/arrows_up_inactive.png");            
          }).complete(function() { $("#loading{{ entry.eid }}").hide() });
          return false;
         });});
      </script>
      <div id=loading{{ entry.eid }} class="loader">&nbsp&nbsp&nbsp&nbsp
      </div>
        <table class=voteCounts>
             <tr>
               <td>

                    {% if not entry.upvoted %}
                       <img 
                           id=voteup{{ entry.eid }} src="{{ url_for('static',filename='arrows_up_inactive.png') }}" alt="dafuer" width=24 align=left>
                    {% else %}
                       <img id=voteup{{ entry.eid }} src="{{ url_for('static',filename='arrows_up_active.png') }}" alt="dafuer" width=24 align=left>
                    {% endif %} 
               </td> 
               <td id=countUp{{ entry.eid }} class=countUp>+{{ entry.ups }}
               </td> 
             <tr>
               <td>

               {% if not entry.downvoted %} 
                  <img 
                       id=votedown{{ entry.eid }} src="{{ url_for('static',filename='arrows_down_inactive.png') }}" alt="dagegen" width=24 align=left>
               {% else %}
                    <img  id=votedown{{ entry.eid }} src="{{ url_for('static',filename='arrows_down_active.png') }}" alt="dagegen" width=24 align=left>
               {% endif %}
               </td> <td id=countDown{{ entry.eid }} class=countDown>-{{ entry.downs }}</td>
             </tr>
        </table>

      </td> 
      <td> <h3><a href="{{ url_for('show_single_proposal', prop_id=entry.eid) }}"
                   class=propTitle>{{ entry.title }}</a></h3>
               {{ entry.body|safe|iconize }} 
      </td>
    <tr>  <td> </td> <td><div class=propInfo>
            {% if entry.username == session.username %} 
              <a href="{{ url_for('delete_proposal', prop_id=entry.eid) }} ">l&ouml;schen</a> 
              <a href="">editieren</a> 
            {% endif %}
            Erstellt vor {{ entry.created }} {% if entry.username %} durch 
            <a href="{{ url_for('show_person', p_eid=entry.userid) }}"> {{ entry.username }}.</a>{% endif %}
         </div></td> </tr> 
         <tr><td> </td> 
           <td> 
             {% for parlament in entry.eid|getParlaments %} 
                <a href="{{ url_for('show_parlaments') }}" class=parlTitle>{{ parlament.title }}</a>
             {% endfor %}
           </td>
         </tr>
         </table>
      <hr style="color:black; background-color:black; height:1px;
            border:1px; ">
    {% else %}
      <tr><em>Noch keine Vorschläge vorhanden.</em></tr>
  {% endfor %}
  <div align="right">
    {% if navigation.currentPage > 1 %}
      <a href="{{ url_for('show_proposals', page=navigation.currentPage-1) }}"><<</a>
    {% endif %}
    {% if navigation.pagessum <=10 %}
      {% for number in range(1,navigation.pagessum+1) %}
        {% if navigation.currentPage != number %}
          <a href="{{ url_for('show_proposals', page=number) }}">{{number}}</a>
        {% else %}
          {{number}}
        {% endif %}
      {% endfor %}
    {% else %}
      {% for number in range(1,11) %}
      {% if navigation.currentPage > 5 and navigation.currentPage+4 < navigation.pagessum %}
        {% set number=navigation.currentPage - 5 + number %}
      {% elif navigation.currentPage+4 >= navigation.pagessum %}
        {% set number=navigation.pagessum-10+number %}      
      {% endif %}
      {% if navigation.currentPage != number %}
        <a href="{{ url_for('show_proposals', page=number) }}">{{number}}</a>
      {% else %}
        {{number}}
      {% endif %}
      {% endfor %}
    {% endif %}
    {% if navigation.currentPage != navigation.pagessum %}
      <a href="{{ url_for('show_proposals', page=navigation.currentPage+1) }}">>></a>
    {% endif %}
  </div>
{% endblock %}
