{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h2> Neuer Vorschlag </h2>
    <form action="{{ url_for('add_proposal') }}" method=post class=add-entry>
    <table>
    <tr> 
      <td>
      <dl>
        <dt>Title:
        <dd><input type=text size=47 name=title>
      </dl>
      </td>
      <td>
      <dl>
        <dt>Parlament(e):
        <dd><select name=parlament size=2 multiple>
              {% for parlament in g.i_eid|getParlaments %}
              <option> {{ parlament.title }}</option>
              {% endfor %}
            </select>
      </dl>
      </td> 
    </tr>
    </table>
      <dl>
        <dt>Text:
        <dd><textarea name=body rows=7 cols=50></textarea>
        <dd><input type=submit value=Speichern>
      </dl> 
    </form>
  {% endif %}
  <table> <tr align=bottom>
            <td width=400> <h2> Bisher erstellte Vorschl&auml;ge </h2> </td>
            <td> Sortierkriterien: 1. Stimmen NeusteZuerst 2. EigeneStimmen <br> 
                 Filterkriterien: 1. MeineVorschläge 2. MeineStimmen 3. Aktivste</td> </tr>
  </table>
  {% for entry in entries %}
    {% if entry.username == session.username %} 
         <table  style="background-color: #DDDDEE;"> 
    {% else %} 
         <table> 
    {% endif %}
    <tr>
      <td class=votes align=center width=50> 
      <script type=text/javascript>
      $(function() {
        $('#voteup{{ entry.eid }}').bind('click', function() {
          $.getJSON($SCRIPT_ROOT + '/_vote', {
            ieid: {{ g.i_eid }}, 
            eid: {{ entry.eid }}, 
            pro: 1
          }, function(data) {
            console.log(data)
            $("#countUp{{ entry.eid }}").text('+'+data.results[0]['ups']);
            $("#countDown{{ entry.eid }}").text('-'+data.results[0]['downs']);
            if(data.results[0]['voted']==1)
            {
              $("#voteup{{ entry.eid }}").attr("src", "/static/arrows_up_active.png");
            }
            $("#votedown{{ entry.eid }}").attr("src", "/static/arrows_down_inactive.png");
          });
          return false;
         });});

      $(function() {
        $('#votedown{{ entry.eid }}').bind('click', function() {
          $.getJSON($SCRIPT_ROOT + '/_vote', {
            ieid: {{ g.i_eid }}, 
            eid: {{ entry.eid }}, 
            pro: 0
          }, function(data) {
            console.log(data)
            $("#countUp{{ entry.eid }}").text('+'+data.results[0]['ups']);
            $("#countDown{{ entry.eid }}").text('-'+data.results[0]['downs']);
            if(data.results[0]['voted']==1)
            {
              $("#votedown{{ entry.eid }}").attr("src", "/static/arrows_down_active.png");
            }
            $("#voteup{{ entry.eid }}").attr("src", "/static/arrows_up_inactive.png");
            
          });
          return false;
         });});
      </script>
        <table class=voteCounts>
             <tr>
               <td>

                    {% if not entry.upvoted %}
                       <!--<a href="{{ url_for('vote', pro=1, eid=entry.eid) }}" class=votePic>-->
                       <img 
                           id=voteup{{ entry.eid }} src="{{ url_for('static',filename='arrows_up_inactive.png') }}" alt="dafuer" width=24 align=left>
                    {% else %}
                       <img id=voteup{{ entry.eid }} src="{{ url_for('static',filename='arrows_up_active.png') }}" alt="dafuer" width=24 align=left>
                    {% endif %} 
               </td> 
               <td id=countUp{{ entry.eid }} class=countUp>+{{ entry.ups }}
               </td> 
             <tr>
               <td>

               {% if not entry.downvoted %} 
                  <img 
                       id=votedown{{ entry.eid }} src="{{ url_for('static',filename='arrows_down_inactive.png') }}" alt="dagegen" width=24 align=left>
               {% else %}
                    <img  id=votedown{{ entry.eid }} src="{{ url_for('static',filename='arrows_down_active.png') }}" alt="dagegen" width=24 align=left>
               {% endif %}
               </td> <td id=countDown{{ entry.eid }} class=countDown>-{{ entry.downs }}</td>
             </tr>
        </table>
      </td> 
      <td> <h3><a href="{{ url_for('show_single_proposal', prop_id=entry.eid) }}"
                   class=propTitle>{{ entry.title }}</a></h3>
               {{ entry.body|safe|iconize }} 
      </td>
    <tr>  <td> </td> <td><div class=propInfo>
            {% if entry.username == session.username %} 
              <a href="{{ url_for('delete_proposal', prop_id=entry.eid) }} ">l&ouml;schen</a> 
              <a href="">editieren</a> 
            {% endif %}
            Erstellt vor {{ entry.created }} {% if entry.username %} durch 
            <a href="{{ url_for('show_person', p_eid=entry.userid) }}"> {{ entry.username }}.</a>{% endif %}
         </div></td> </tr> 
         <tr><td> </td> 
           <td> 
             {% for parlament in entry.eid|getParlaments %} 
                <a href="{{ url_for('show_parlaments') }}" class=parlTitle>{{ parlament.title }}</a>
             {% endfor %}
           </td>
         </tr>
         </table>
      <hr style="color:black; background-color:black; height:1px;
            border:1px; ">
    {% else %}
      <tr><em>Noch keine Vorschläge vorhanden.</em></tr>
  {% endfor %}
{% endblock %}
