{% extends "layout.html" %}
{% block body %}
<table>
    <tr><td id=voteline{{ proposal.eid }}  class=votes align=center width=50> 
    {% if proposal.username == session.username %} 
         <table style="background-color: #DDDDEE;"> 
    {% else %} 
         <table> 
    {% endif %}
      <script type=text/javascript>
      $(function() {
        $('#voteup{{ proposal.eid }}').bind('click', function() {
          $("#loading{{ proposal.eid }}").width($("#voteline{{ proposal.eid }}").width())
          $("#loading{{ proposal.eid }}").show()
          $.getJSON($SCRIPT_ROOT + '/_vote', {
            ieid: {{ g.i_eid }}, 
            eid: {{ proposal.eid }}, 
            pro: 1
          }, function(data) {
            console.log(data)
            $("#countUp{{ proposal.eid }}").text('+'+data.results[0]['ups']);
            $("#countDown{{ proposal.eid }}").text('-'+data.results[0]['downs']);
            if(data.results[0]['voted']==1)
            {
              $("#voteup{{ proposal.eid }}").attr("src", "/static/arrows_up_active.png");
            }
            $("#votedown{{ proposal.eid }}").attr("src", "/static/arrows_down_inactive.png");
          }).complete(function() { $("#loading{{ proposal.eid }}").hide() });
          return false;
         });});

      $(function() {
        $('#votedown{{ proposal.eid }}').bind('click', function() {
          $("#loading{{ proposal.eid }}").width($("#voteline{{ proposal.eid }}").width())
          $("#loading{{ proposal.eid }}").show()
          $.getJSON($SCRIPT_ROOT + '/_vote', {
            ieid: {{ g.i_eid }}, 
            eid: {{ proposal.eid }}, 
            pro: 0
          }, function(data) {
            console.log(data)
            $("#countUp{{ proposal.eid }}").text('+'+data.results[0]['ups']);
            $("#countDown{{ proposal.eid }}").text('-'+data.results[0]['downs']);
            if(data.results[0]['voted']==1)
            {
              $("#votedown{{ proposal.eid }}").attr("src", "/static/arrows_down_active.png");
            }
            $("#voteup{{ proposal.eid }}").attr("src", "/static/arrows_up_inactive.png");
          }).complete(function() { $("#loading{{ proposal.eid }}").hide() });
          return false;
         });});
      </script>
      <div id=loading{{ proposal.eid }} class="loader">&nbsp&nbsp&nbsp&nbsp
      </div>
        <table class=voteCounts>
               <tr><td> 

                    {% if not proposal.upvoted %}
                       <img 
                          id=voteup{{ proposal.eid }} src="{{ url_for('static',filename='arrows_up_inactive.png') }}" alt="dafuer" width=28 align=left>
                    {% else %}
                       <img id=voteup{{ proposal.eid }} src="{{ url_for('static',filename='arrows_up_active.png') }}" alt="dafuer" width=28 align=left>
                    {% endif %} 
               </td> <td id=countUp{{ proposal.eid }} class=countUp>+{{ proposal.ups }}</td> 
             <tr><td>

               {% if not proposal.downvoted %} 
                  <img 
                    id=votedown{{ proposal.eid }} src="{{ url_for('static',filename='arrows_down_inactive.png') }}" alt="dagegen" width=28 align=left>
               {% else %}
                    <img id=votedown{{ proposal.eid }} src="{{ url_for('static',filename='arrows_down_active.png') }}" alt="dagegen" width=28 align=left>
               {% endif %}
                </td> <td id=countDown{{ proposal.eid }} class=countDown>-{{ proposal.downs }}</td>
              </tr>
           </table>
          </td> <td><h3><a href="{{ url_for('show_single_proposal', i_eid=g.i_eid, prop_id=proposal.eid) }}"
                           class=propTitle>{{ proposal.title }}</a></h3>
                                                                                           {{ proposal.body|safe }} </td>
    <tr>  <td> </td> <td><div class=propInfo>
            <a href="{{ url_for('delete_proposal', i_eid=g.i_eid, prop_id=proposal.eid) }} ">l&ouml;schen</a> 
            <a href="">editieren</a>
            Erstellt vor {{ proposal.created }}  {% if proposal.username %} durch <a href="{{ url_for('show_person', i_eid =
                                      g.i_eid, p_eid=proposal.userid) }}"> {{ proposal.username }}.</a>{% endif %}
         </div></td> </tr> 
         <tr><td> </td> 
           <td> 
             {% for parlament in proposal.eid|getParlaments %} 
                <a href="{{ url_for('show_parlaments') }}" class=parlTitle>{{ parlament.title }}</a>
             {% endfor %}
           </td>
         </tr></table>
      <hr style="color:black; background-color:black; height:1px;
            border:1px; ">

  {% if session.logged_in %}
    <h3>Neuer Kommentar erstellen</h3>
    <form action="{{ url_for('add_comment', i_eid=g.i_eid, prop_id=proposal.eid) }}" method=post class=add-entry>
      <dl>
        <dt>Kommentartitel:
        <dd><input type=text size=40 name=title>
        <dt>Kommentartext:
        <dd><textarea name=body rows=7 cols=50></textarea>
        <dd><input type=submit value=Speichern>
      </dl>
    </form>
  {% endif %}
  <h3> Bisherige Kommentare </h3>
  <div class=comments>
  {% for comment in comments %}
    {% if comment.username == session.username %} 
         <table class=entries style="background-color: #DDDDEE;"> 
    {% else %} 
         <table class=entries>
    {% endif %}
    <tr><td id=voteline{{ comment.eid }}  class=votes align=center width=50> 
      <script type=text/javascript>
      $(function() {
        $('#voteup{{ comment.eid }}').bind('click', function() {
          $("#loading{{ comment.eid }}").width($("#voteline{{ comment.eid }}").width())
          $("#loading{{ comment.eid }}").show()
          $.getJSON($SCRIPT_ROOT + '/_vote', {
            ieid: {{ g.i_eid }}, 
            eid: {{ comment.eid }}, 
            pro: 1
          }, function(data) {
            console.log(data)
            $("#countUp{{ comment.eid }}").text('+'+data.results[0]['ups']);
            $("#countDown{{ comment.eid }}").text('-'+data.results[0]['downs']);
            if(data.results[0]['voted']==1)
            {
              $("#voteup{{ comment.eid }}").attr("src", "/static/arrows_up_active.png");
            }
            $("#votedown{{ comment.eid }}").attr("src", "/static/arrows_down_inactive.png");
          }).complete(function() { $("#loading{{ comment.eid }}").hide() });
          return false;
         });});

      $(function() {
        $('#votedown{{ comment.eid }}').bind('click', function() {
          $("#loading{{ comment.eid }}").width($("#voteline{{ comment.eid }}").width())
          $("#loading{{ comment.eid }}").show()
          $.getJSON($SCRIPT_ROOT + '/_vote', {
            ieid: {{ g.i_eid }}, 
            eid: {{ comment.eid }}, 
            pro: 0
          }, function(data) {
            console.log(data)
            $("#countUp{{ comment.eid }}").text('+'+data.results[0]['ups']);
            $("#countDown{{ comment.eid }}").text('-'+data.results[0]['downs']);
            if(data.results[0]['voted']==1)
            {
              $("#votedown{{ comment.eid }}").attr("src", "/static/arrows_down_active.png");
            }
            $("#voteup{{ comment.eid }}").attr("src", "/static/arrows_up_inactive.png");
          }).complete(function() { $("#loading{{ comment.eid }}").hide() });
          return false;
         });});
      </script>
      <div id=loading{{ comment.eid }} class="loader">&nbsp&nbsp&nbsp&nbsp
      </div>
        <table class=voteCounts>
             <tr><td> 

                    {% if not comment.upvoted %}
                       <img 
                          id=voteup{{ comment.eid }} src="{{ url_for('static',filename='arrows_up_inactive.png') }}" alt="dafuer" width=20 align=left>
                    {% else %}
                       <img id=voteup{{ comment.eid }} src="{{ url_for('static',filename='arrows_up_active.png') }}" alt="dafuer" width=20 align=left>
                    {% endif %} 
               </td> 
               <td id=countUp{{ comment.eid }} class=countUp>+{{ comment.ups }}</td> 
               <tr><td>
                    {% if not comment.downvoted %} 
                       <img 
                          id=votedown{{ comment.eid }} src="{{ url_for('static',filename='arrows_down_inactive.png') }}" alt="dagegen" width=20 align=left>
                    {% else %}
                         <img id=votedown{{ comment.eid }} src="{{ url_for('static',filename='arrows_down_active.png') }}" alt="dagegen" width=20 align=left>
                    {% endif %}
                </td> <td id=countDown{{ comment.eid }} class=countDown>-{{ comment.downs }}</td>
              </tr>
           </table>
          </td> <td><b><a href="{{ url_for('show_single_proposal', prop_id=comment.eid) }}"
                           class=propTitle>{{ comment.title }}</a></b>: {{ comment.body|safe }} </td>
    <tr>  <td> </td> <td><div class=propInfo>
            <a href="{{ url_for('delete_proposal', prop_id=comment.eid) }} ">l&ouml;schen</a> 
            <a href="">editieren</a>
            Erstellt vor {{ comment.created }}  {% if comment.username %} durch 
            <a href="{{ url_for('show_person', p_eid=comment.userid) }}"> {{ comment.username }}.</a>{% endif %}
         </div></td> </tr> </table>
      <hr style="color:black; background-color:black; height:1px;
            border:1px; ">
    {% else %}
      <tr><em>Noch keine Kommmentare</em></tr>
  {% endfor %}
  </div>

  {% endblock %}
